body{
    margin: 0;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
}

.message-myFriend-text-data, .user-profile-chats-men-text-message{
    color: #929497;
}




/* стили для user-profile- и все что внутри*/
.user-profile{
    width: 25%;
    min-height: 100vh;
    background-color: #f1f4f8;
    border-right: 1px solid rgba(191, 191, 191, 0.5);
}

.user-profile-interface{
    width: 500%;
    min-height: 30vh;
    

}

.user-profile-interface-first{
    width: 20%;
    min-height: 20vh;
    border-bottom: 1px solid rgba(191, 191, 191, 0.5);
}


.user-profile-interface-first-name{
    
    display: flex;
}

.user-profile-interface-first-name-logo{
    cursor: pointer;
    width: 50px;
    height: 70px;
    margin-left: 10px;
    margin-top: 10px;

}

.user-profile-interface-first-name-balance{
    cursor: pointer;
    margin-left: 5px;
    margin-top: 27px;
    color:gray;

}

.user-profile-interface-first-name-name{

    margin-left: 5px;
    margin-top: 27px;

    font-size: 14px;
}

.user-profile-interface-first-name-logo img{

    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    
}

.user-profile-interface-first-name-ap {
    margin-left: 80px;
    margin-top: 27px;
}


/*стили для user-profile-  и все что внутри  finish */


/*  стили для инпута сверху */
.user-profile-interface-first-search{
    border: solid 1px gray;
    display: flex;
    position: relative;
    background-color: white;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 4px;
    margin-right: 20px;
}


.user-profile-interface-first-search-glass{
    display: flex;
    align-items: center;
   
}

.user-profile-interface-first-search-placeholder-input{
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 80%;
    outline: none;
    border: none;
    border: solid 1px white;
    border-right: solid 1px grey;

    
}


.user-profile-interface-first-search-settings{
    box-sizing: border-box;

    

    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 8px;
}

/* иконочки */

.user-profile-interface-first-icons{
    width: 89%;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
   justify-content: space-between;
   color: #3c3d44;

}

.user-profile-interface-first-icons-chats-helper, .user-profile-interface-first-icons-notific-helper, .user-profile-interface-first-icons-calls-helper, .user-profile-interface-first-icons-contacts-helper{
    display: flex;
    justify-content: center;

}


/* user-profile-interface-footer */

.user-profile-interface-footer-twoBut{
    margin-top: 15px;
    
    width: 17%;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

.user-profile-interface-footer-twoBut-meeting, .user-profile-interface-footer-twoBut-newChats{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    color: #3c3d44;
    width: 100px;
    font-size: 14px;
}

.user-profile-interface-first-icons-chats:hover, .user-profile-interface-first-icons-calls:hover, .user-profile-interface-first-icons-contacts:hover, .user-profile-interface-first-icons-notific:hover, .user-profile-interface-footer-twoBut-meeting:hover, .user-profile-interface-footer-twoBut-newChats:hover{
    color: #2c7acf;

}

.user-profile-interface-footer-chatsBut{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    color: #8f9195;
}
.user-profile-interface-footer-chatsBut:hover{
    color: #a7aaae;
}

.user-profile-chats-men{
 
    display: flex;
   font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;
}

.user-profile-chats-men:hover{
    background-color: #cfedfb;
}

.user-profile-chats-men-img, .avatar{
    width: 50px;
    height: 70px;
}

.user-profile-chats-men img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}


.user-profile-chats{
   overflow: scroll; 
   height: 70vh;
}

.user-profile-chats-men-text-message{
    color:gray
}

.time{
    margin-left: auto;
}

.user-profile-chats-men-text{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* правая часть*/

.user-chat {
    
    width: 80%;
    min-height: 100vh;

}

.user-chat-header-info{
    margin-top: 15px;
    margin-left: 10px;
    width: 80%;
  
    margin-bottom: 15px;
   
  
}



.user-chat-header{
    border-bottom: solid 1px rgba(191, 191, 191, 0.7);
    width: 100%;
    min-height: 7vh;
    display: flex; 
    justify-content: space-between;
   
    
}

.user-chat-header-info-name{
    font-size: 20px;
    font-weight: bold;
}

.user-chat-header-info-under-active-now{
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    background: #36b37e;
    border-radius: 50%;
}

.user-chat-header-info-under{
    font-size: 12px;
    width: 30%;
    margin-top: 5px;
    color:#8c8e92;
    
    
}

.user-chat-header-info-under div span{
    font-size: 18px;
}


.qqq {
   display: flex;
   background-color: #f2f2f4;
   border-radius: 20px;
   box-sizing: border-box;
}

.user-chat-header-info-under-gallery span{
    margin-right: 5px;
}

.user-chat-header-info-under, .user-chat-header-info-under-active, .user-chat-header-info-under-gallery, .user-chat-header-info-under-find{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.user-chat-header-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-right: 15px;

    margin-bottom: 10px;
    width: 13%;
    
    
}


.user-chat-header-icons-camera, .user-chat-header-icons-call, .user-chat-header-icons-add{
    background-color: #f1f1f4;
    border-radius: 50%;
}

.user-chat-header-icons-camera:hover, .user-chat-header-icons-call:hover, .user-chat-header-icons-add:hover{
    background-color: #e6e5e9;
}
.user-chat-header-icons span{
    font-size: 30px;
    padding: 5px;
}


.user-chat-chat{
    width: 100%;
    height: 80vh;
    overflow: scroll; 
    
}

.data{
    display: flex;
    justify-content: center;
    color: gray;
    
}

.avatar{
    margin-top: 5px;
    margin-left: 10px;
}

.avatar img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.message-myFriend{
    display: flex;
   
    height: 55px;
   
}

.message-myFriend-text{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.message-myFriend-text-message{
    padding: 7px;
    border-radius: 2px 8px 8px;
    background-color: #f3f6f9;
}


.my-message{
    margin-top: 10px;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
    
}

.my-message div {
    padding: 7px;
    border-radius: 2px 8px 8px;
    background-color: #cfedfb;
}

.typing{
    width: 100%;
    height: 11%;
    
}

.last-first, .last-smyle, .last-second, .last-third, .last-fourth{
    display: flex;
    align-items: center;
}

.last {
    margin-left: 60px;
    width: 90%;
    height: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    

    
}

.form{
    background-color: #f2f2f4;
    width: 100%;
    box-sizing: border-box;
    margin-left: 10px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px;
}

.last-input {
    width: 51vw;
    
    


}



.icnons{
    width: 20%;
    display: flex;
    justify-content: space-between;
    
}

 .icnons div span{
    font-size: 18px;
}


.last span{
   
   padding: 5px;
} 

label span{
    margin-left: 5px;
    font-size: 18px;
    background-color: #f1f1f4;
    border-radius: 50%;
}

form span, div span{
    font-size: 18px;
    background-color: #f1f1f4;
    border-radius: 50%;
}


label span:hover, form span:hover, div span:hover{
    background-color: #e6e5e9;
}


.messages{
    display: flex;
    justify-content: space-between;
     align-items: center;
    
     width: 14vw;
}

#upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
}

#upload-container div {
    position: relative;
    z-index: 10;
}

#upload-container input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}